{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schemes</title>
</head>

<body class="shopping-cart sidebar-collapse">
  
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/home/assets/img/examples/bg2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Schemes for you</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
          <h3 class="card-title">Schemes</h3>
          <br />
          
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <div class="container">
    <div class="row">
      {% for ob in schemes %}
      <div class="col-md-6 col-lg-4">
        <div class="rotating-card-container manual-flip" style="margin-bottom: 30px;">
          <div class="card card-rotate bg-warning">
            <div class="front" style="width: 349.984px;">
              <div class="card-body">
                <h5 class="card-category card-category-social">
                  <i class="material-icons">receipt</i> "{{ob['name']}}"
                </h5>
                <h4 class="card-title">
                  <a href="#pablo">{{ob['description']}}</a>
                </h4>
                <p class="card-description">
                  <u>Eligibilty</u><br>
                  <b>Income:</b> Rs.{{ob['lowerbound']}} - Rs.{{ob['upperbound']}}<br>
                  <b>Gender:</b> {{ob['gender']}}
                </p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</body>

</html>
{% endblock content %}